.header {
    height: 120px;
	background: url("/layouts/img/header.jpg");
	background-size: 100% auto;
	background-position: 0px -110px;
    
    color: #fff;
}

.navbar-left {
    margin-left: -15px;
}

.navbar .container-fluid {
    padding: 0px;
}

.navbar-default {
    color: #000;
}
